<nav class="navbar navbar-expand-lg custom-navbar mx-5 px-5" style="height: 5rem;">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">
      <img src="/khushie-logo-transparent.png" style="height: 3rem" />
    </a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a
            class="nav-link active"
            aria-current="page"
            href="/"
            style="color: white; font-size: x-large"
            >Home</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link active"
            aria-current="page"
            href="#about"
            style="font-size: x-large; color: white"
            >About Me</a
          >
        </li>
      </ul>
      <a
        href="/contact"
        class="btn btn-outline-success on-hover"
        style="
          color: white;
          background-color: black;
          border-radius: 40px;
          border: none;
          text-decoration: none;
          padding: 0.5rem 1.5rem;
        "
      >
        Get In Touch
      </a>
    </div>
  </div>
</nav>
